*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Virginie*/

.barre-de-nav{

    background-color: white;
 
    margin: 0;
    position: fixed;
    top: 0;
    border: 1px solid lightgrey;
    height: auto;
 }
 
 .logo{
   justify-content: flex-start;
   padding: 0 8px 0 24px;
 }
 
 .logo-header-nav{
    object-fit: contain;
 
 }
 
 .nav{
     justify-content: flex-end;
 }
 nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    height: 100%;
     
 }
 
 
 li{

    padding: 10px;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.8)
 }
  #buy{
   display: flex;
   justify-content: center;
   color: white;
   background-color:red;
   font-size: 16px;
   border-radius: 30px;
   height: 2rem;
   width: 6rem;
   border: 0;
   padding: 5px;
 }  
 /*Partie comprenant la video */
 #baniere-video{
   position: relative;
   right: 0; bottom: 0;
   min-width: 100%; min-height: 100%;
   width: auto; height: auto; z-index: -100;
   background-size: cover;
   object-fit: cover;
 }
 
 .baniere{
   position: absolute;
   top:0;
   left:0;
   z-index: 100;
   justify-content: space-between;
   flex-direction: column;
   align-self: center;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100%;
 }
 
 video{
   perspective: 100px;
   z-index: 0;
 }

 .next-era{
    font-size: 3.5rem;
    height: 200px;
    line-height: 60px;
    
 }
 h1{
     align-content: center;
     justify-content: center;
     z-index: 1;
     color: white;
     font-weight: 900;
     font-size: 20%;
     margin:0;
 }
 
 .subheading-video{
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    z-index: 1;
    color: white;
    color: lightgrey;
    margin-bottom: 30px;
 }
 
 .button{
   display: flex;
   align-items: center;
    color: white;
    background-color:white;
    border-radius: 30px;
    height: 3rem;
    width: 15rem;
    border: 0;
    padding: 5px;
    margin: 7px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20%;
 }
 
 #bouton-video{
   font-size: 16px;
   display: flex;
   justify-content: center;
   font-weight: bolder
 }
 
 
 .num{
   display: flex;
   justify-content: center;
   border: 2px solid lightgrey;
   background-color: transparent;
   color: white;
 }
 
 #lecture{
   height: 100%;
   width: auto;
   opacity: 0,2;
   margin-left: 0;
   margin-right: 20px;
   font-size: 35px;
 
 }
 .en-ligne{
    z-index: 1;
    text-decoration: none;
    justify-content: center
 }
  
 #scroll_down{ 
    z-index: 1;  
    color: white;
 }
 
 #chevron-bas{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: space-around
 }
 
 #chevron{
   height: 40%; 
   width: 5%;
 }
 
/* Code Baptiste*/

body{
  font-family: 'Spectral', serif;
  text-align: center;
}
p{
  color: rgb(82, 82, 82);
  display: block;
}

div.sec_2-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

p.sec_1-p1{
  font-size: 22.5px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
p.sec_1-p2{
    font-family: 'Manjari', sans-serif;
    font-size: 17px;
    opacity: 0.7;
    text-align: center;
}
p.sec_1-p3{
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 50px;
    text-align: center;
}
h2.sec_2-h2{
  font-family:  'Manjari', sans-serif;
    width: 100%;
    color: rgb(82, 82, 82);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.line{
  width: 60%;
  background-image: linear-gradient(90deg, rgb(183, 227, 237), rgb(244, 83, 104));
  border: 0;
  height: 2px;
}
/*Large Sreen DSK*/
@media screen and (min-width: 1023px){
img.logo_partner{
  width: 180px;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom:20px;
  padding-top:20px
}

div.sec_1{
 padding: 0 30%;
}
}
/*Medium Screen Tab*/
@media screen and (min-width: 768px) and (max-width: 1022px){
img.logo_partner{
  width: 125px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:40px;
}
div.sec_1{
 padding: 0 30%;
}
}
/*Small Screen Mob*/
@media screen and (max-width: 767px){
p.sec_1-p1{
  font-size: 17px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
}
div.sec_2-2{
display: flex;
flex-direction: row;
}
div.ligne-1{
display: flex;
flex-direction: column;
}
div.ligne-2{
display: flex;
flex-direction: column;
}
img.logo_partner{
  width: 120px;
  height: 60px;
  box-sizing: border-box;
  margin: 1.5rem 2rem;
}
div.sec_1{
 padding: 0 20%;
}
}

/******************Section 3******************/

/*Large Sreen DSK*/
@media screen and (min-width: 1440px){
 img.responsive_Mob {
   display: none;
}
img.responsive_Tab {
   display: none;
} 
img.responsive_Dsk {
   margin-top: 50px;
   width: 100%;
   height: auto;
}
button.sec_3-b{
 color: rgb(75, 75, 75);
 background-color: rgba(255, 255, 255, 0.589);
 border-radius: 30px;
 height: 37px;
 width: 120px;
 border: 0;
}
.sec_3{
 position: relative;
 text-align: center;
 color: white;
 font-family: 'lomino-regular',sans-serif;
 
 z-index: -1;
}
.sec_3-h2{
 position: absolute;
 text-align: center;
 /* width: 80%; */
 top: 40%;
 left: 60%;
 transform: translate(-50%, -50%); 
 letter-spacing: 3px;
 font-size: 45px;
 font-family: 'lomino-regular',sans-serif;

}
.sec_3-h3{
 position: absolute;
 text-align: center;
 top: 50%;
 left: 60%;
 transform: translate(-50%, -50%);
 font-size: 19px;
 letter-spacing: 3.5px;
 font-family: 'lomino-regular',sans-serif;
 opacity: 0.7;

}
.sec_3-p{ 
 position: absolute;
 text-align: center;
 top: 60%;
 left: 60%;
 transform: translate(-50%, -50%);
 font-family: 'lomino-light',sans-serif;
 font-size: 21px;
 line-height: 27px;
 letter-spacing: 0.5px;
 width: 25%;
 opacity: 0.8;
 color: white;
 font-weight: lighter; 
}
.sec_3-b{
 position: absolute;
 text-align: center;
 top: 75%;
 left: 60%;
 transform: translate(-50%, -50%);
}
}
/*Medium Screen Tab*/
@media screen and (min-width: 768px) and (max-width: 1438px){
 img.responsive_Mob {
   display: none;
}
img.responsive_Tab {
   width: 100%;
   height: auto;
   margin-top: 50px;
 } 
img.responsive_Dsk {
   display: none;
}


button.sec_3-b{
 color: rgb(75, 75, 75);
 background-color: rgb(255, 255, 255);
 border-radius: 30px;
 height: 37px;
 width: 120px;
 border: 0;
}
.sec_3{
 position: relative;
 text-align: center;
 color: white;
 font-family: 'lomino-regular',sans-serif;
 
 z-index: -1;
}
.sec_3-h2{
 position: absolute;
 text-align: center;
 width: 60%;
 top: 29%;
 left: 70%;
 transform: translate(-50%, -50%); 
 letter-spacing: 3px;
 font-size: 40px;
 font-family: 'lomino-regular',sans-serif;

}
.sec_3-h3{
 position: absolute;
 text-align: center;
 top: 40%;
 left: 70%;
 transform: translate(-50%, -50%);
 font-size: 20px;
 letter-spacing: 3.5px;
 font-family: 'lomino-regular',sans-serif;
 opacity: 0.7;

}
.sec_3-p{ 
 position: absolute;
 text-align: center;
 top: 55%;
 left: 70%;
 transform: translate(-50%, -50%);
 font-family: 'lomino-light',sans-serif;
 font-size: 21px;
 line-height: 27px;
 letter-spacing: 0.5px;
 width: 50%;
 opacity: 0.8;
 color: white;
 font-weight: lighter; 
}
.sec_3-b{
 position: absolute;
 text-align: center;
 top: 70%;
 left: 70%;
 transform: translate(-50%, -50%);
}


}
/*Small Screen Mob*/
@media screen and (max-width: 767px){
img.responsive_Mob {
 height: 4%;
 width: 100%;
 margin-top: 50px;
}
img.responsive_Tab {
  display: none;
} 
img.responsive_Dsk {
  display: none;
}
button.sec_3-b{
 color: rgb(75, 75, 75);
 background-color: rgb(255, 255, 255);
 border-radius: 30px;
 height: 35px;
 width: 100px;
 border: 0;
}
.sec_3{
 position: relative;
 text-align: center;
 color: white;
 font-family: 'lomino-regular',sans-serif;
 
 z-index: -1;
}
.sec_3-h2{
 position: absolute;
 text-align: center;
 width: 80%;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%); 
 letter-spacing: 1.5px;
 font-size: 35px;
 font-family: 'lomino-regular',sans-serif;
}
.sec_3-h3{
 position: absolute;
 text-align: center;
 top: 57.5%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 14px;
 letter-spacing: 4px;
 font-family: 'lomino-regular',sans-serif;

}
.sec_3-p{
 position: absolute;
 text-align: center;
 top: 70%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-family: 'lomino-light',sans-serif;
 font-size: 14px;
 line-height: 10px;
 letter-spacing: 1px;
 width: 50%;
 opacity: 0.8;
 color: white;
}
.sec_3-b{
 position: absolute;
 text-align: center;
 top: 85%;
 left: 50%;
 transform: translate(-50%, -50%);
}
}





/******************Section 4******************/
/*Small Screen Mob*/
@media screen and (max-width: 775px){
 .sec_4{
   display:flex;
   flex-direction: column;
   justify-items: center;
   z-index: -1;
 }

 .sec_4-div-1{
   position: relative;
   text-align: center;
   color: white;
   z-index:-1;
 }
 .sec_4-img1{
   border-radius: 10px;
   margin-top: 5em;
   margin-left: 2.5%;
   margin-right: 2.5%;
   display: flex;
   width: 95%;
   height: auto;
   z-index:-1;
 }

 .sec_4-div-2{
   position: relative;
   text-align: center;
   color: white;
   z-index:-1;
   
 }
 .sec_4-div-2:hover{
   opacity: 0.5s;
 }
 .sec_4-img2{
   border-radius: 10px;
   margin-left: 2.5%;
   margin-right: 2.5%;
   margin-top: 5em;
   display: flex;
   width: 95%;
   height: auto;
   z-index:-1;
 }
 .sec_4-h3{
   position: absolute;
   text-align: left;
   margin-left: 3%;
   margin-right: 3%;
   width: 80%;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 25px;
   letter-spacing: 2px;
   font-family: 'lomino-regular',sans-serif;
 }
 
 .sec_4-p{
   position: absolute;
   text-align: left;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'lomino-light',sans-serif;
   font-size: 18px;
   line-height: 20px;
   letter-spacing: 0.5px;
   width: 80%;
   margin-left: 3%;
   opacity: 0.8;
   color: rgb(255, 255, 255);
   font-weight: bold;

 }
 .sec_4-b{
   position: absolute;
   text-align: center;
   width: 100px;
   margin-left: -20%;
   top: 92%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgb(75, 75, 75);
   background-color: rgb(255, 255, 255);
   border-radius: 30px;
   height: 35px;
   border: 0;
 }
}
/*Medium Screen Tab*/
@media screen and (min-width: 776px) and (max-width: 1238px){
 .sec_4{
   display:flex;
   flex-direction: row;
   align-items: center;
   z-index: -1;
   margin-top: 2em;
 }

 .sec_4-div-1{
   position: relative;
   text-align: center;
   color: white;
   z-index:-1;
 }
 .sec_4-img1{
   border-radius: 10px;
   
   margin-left: 2.5%;
   margin-right: 2.5%;
   display: flex;
   width: 95%;
   height: auto;
   z-index:-1;
 }

 .sec_4-div-2{
   position: relative;
   text-align: center;
   color: white;
   z-index:-1;
 }
 .sec_4-img2{
   border-radius: 10px;
   margin-left: 2.5%;
   margin-right: 2.5%;
   display: flex;
   width: 95%;
   height: auto;
   z-index:-1;
 }
 .sec_4-h3{
   position: absolute;
   text-align: left;
   margin-left: 1.5%;
   margin-right: 1.5%;
   width: 80%;
   top: 57.5%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 25px;
   letter-spacing: 2px;
   font-family: 'lomino-regular',sans-serif;
 }
 
 .sec_4-p{
   position: absolute;
   text-align: left;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'lomino-light',sans-serif;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.5px;
   width: 80%;
   margin-left: 1.5%;
   opacity: 0.8;
   color: rgb(255, 255, 255);
   font-weight: bold;

 }
 .sec_4-b{
   position: absolute;
   text-align: center;
   width: 100px;
   margin-left: -28%;
   top: 94%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgb(75, 75, 75);
   background-color: rgb(255, 255, 255);
   border-radius: 30px;
   height: 35px;
   border: 0;
 }
}
/*Large Sreen DSK*/
@media screen and (min-width: 1240px){
 .sec_4{
   display:flex;
   flex-direction: row;
   align-content: center;
   z-index: -1;
   margin-top: 2em;
 }

 .sec_4-div-1{
   position: relative;
   text-align: center;
   color: white;
   z-index:-1;
   width: 35%;
   margin-left: 14%;
   margin-right:1%;
 }
 .sec_4-img1{
   border-radius: 10px;
   
   margin-left: 2.5%;
   margin-right: 2.5%;
   display: flex;
   width: 100%;
   height: auto;
   z-index:-1;
 }
 .sec_4-div-1 img:hover{
   opacity: 0.7s;
 }
 .sec_4-div-2{
   margin-right:14%;
   margin-left:1%;
   position: relative;
   text-align: center;
   color: white;
   z-index:-1;
   width: 35%;
 }
 .sec_4-img2{
   border-radius: 10px;
   margin-left: 2.5%;
   margin-right: 2.5%;
   display: flex;
   width: 100%;
   height: auto;
   z-index:-1;
 }
 .sec_4-h3{
   position: absolute;
   text-align: left;
   margin-left: 1.5%;
   margin-right: 1.5%;
   width: 80%;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 35px;
   letter-spacing: 2px;
   font-family: 'lomino-regular',sans-serif;
 }
 
 .sec_4-p{
   position: absolute;
   text-align: left;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'lomino-light',sans-serif;
   font-size: 20px;
   line-height: 20px;
   letter-spacing: 0.5px;
   width: 80%;
   margin-left: 1.5%;
   opacity: 0.8;
   color: rgb(255, 255, 255);
   font-weight: bold;

 }
 .sec_4-b{
   position: absolute;
   text-align: center;
   width: 150px;
   margin-left: -28%;
   top: 94%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgb(75, 75, 75);
   background-color: rgb(255, 255, 255);
   border-radius: 30px;
   height: 50px;
   border: 0;
 }
}



/* Classe contenues dans cette media query ne seront appliquées 
*  qu'a condition que la largeur de l'ecran ne depasse pas 500px
**/
.row{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
}
@media screen and (max-width:500px){
  .mob-0{display: none;}
  .mob-1{width: 8.33%;}
  .mob-2{width: 16.66%;}
  .mob-3{width: 25%;}
  .mob-4{width: 33.33%;}
  .mob-5{width: 41.66%;}
  .mob-6{width: 50%;}
  .mob-7{width: 58.33%;}
  .mob-8{width: 66.66%;}
  .mob-9{width: 75%;}
  .mob-10{width: 83.33%;}
  .mob-11{width: 91.66%;}
  .mob-12{width: 100%;}

  /*Virginie*/


  nav ul{
    display: none;
  }
  
  .burger{
    justify-content: center;
    align-items: flex-end;
    height: 70%;
    width: auto;
  }

  .en-ligne{
    flex-direction: column;
    align-items: center
   
  }
  .button{
    margin:4px;
    height: 2rem;
    width: 10rem; 
    margin-bottom: 5px;
  }

  .next-era{
    font-size: 30px;
    line-height: 30px;
    padding-top: 100px;
  }
  
  .subheading-video{
    font-size: 17px;
  }

  /* Nicolas */

  #about_magic_selected{
    display: block;
 } 
#creators_selected{
     display: block;
}   
#about_selected{
    display: block;
} 
#buy1_selected{
    display: block;
} 
#custom_support_selected{
   display: block;
}
/* suppression soulignement et couleur lien web  */
a{
    text-decoration: none;
    color:#000;
}
  #photo_dessus{
    background-color: rgb(226, 250, 8);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;
}
 /* bouton rouge avec border radius */
.foot_button{
     color: white;
     background-color: red;
     border-radius: 30px;
     height: 35px;
     width: 100px;
     border: 0;
 }
/* test modal */
.content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  }
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  }
  .modal-inner {
  margin-top: 30px;
  }
  /*  fin du test */
  .area_of_interest{
   width: 25%;
   background-color: white;
   border-top: hidden;
   border-left: hidden;
   border-right: hidden;
  }
  .styleinput {
  width: 25%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;  
  }
  /* class couleur rouge pour du texte*/
.color_red{
  color: red;
  margin-bottom:65px;
}
  #formulaire{
    background-color: blueviolet; 
        /* width: 100%;
        display: flex; */
        flex-direction: column;
        /* align-items: flex-start;
        justify-content: flex-start; */
        padding-left: 0;
  }
  /* bouton rouge avec border radius */
  #footer_1{ 
    display: flex;
   
  }
#about_magic{
     /* background-color: rgb(59, 235, 82); */
     display: none;
     
 } 
#about{
     /* background-color: rgb(240, 128, 23); */
     display: none;
     
 } 
#creators{
     /* background-color: rgb(255, 15, 203); */
     display: none;
     
 }
#buy1{
     /* background-color: rgb(11, 56, 182); */
     display: none;
     
 } 
#custom_support{
     /* background-color:rgb(130, 228, 203); */
     display: none;
     
 }
#reseau_sociaux{
     background-color: rgb(231, 131, 16);
     width: 100%;
     display: flex;
     text-align: center;
     padding-left: 0;
     margin: O;
 }
 #footer_haut{
   background-color: rgb(195, 245, 114);
   display: flex;
   flex-direction: row;
 }
#footer_haut1{
     box-sizing: border-box;
     flex-direction: column;
     align-content: space-between;
     background-color: rgb(156, 31, 31);
     height: 35px;
 }
#hr{
     width: 680%;
     background-color: crimson;
     border: 0;
     height: 8px;
   }
   /*Footer  copyright */
#footer_copyright{
     box-sizing: border-box; 
     text-align: center;
     background-color: rgb(79, 101, 226);
     height: 35px;
 }
 /* background gris claire*/
.foot-background{
  background-color: rgb(14, 245, 26);
}

select.largeur{
  width: 200px;
}
}
/* Classe contenues dans cette media query ne seront appliquées 
*  qu'a condition que la largeur de l'ecran soit comprise entre 501px et 1023px inclus
**/
 @media screen and (min-width:500px) and (max-width:1023px){
    .tab-0{display: none;}
    .tab-1{width: 8.33%;}
    .tab-2{width: 16.66%;}
    .tab-3{width: 25%;}
    .tab-4{width: 33.33%;}
    .tab-5{width: 41.66%;}
    .tab-6{width: 50%;}
    .tab-7{width: 58.33%;}
    .tab-8{width: 66.66%;}
    .tab-9{width: 75%;}
    .tab-10{width: 83.33%;}
    .tab-11{width: 91.66%;}
    .tab-12{width: 100%;}


    /*Virginie*/
    .subheading-video{
    
        font-size: 32px;
      }
    .en-ligne{
        align-self: center;
    }


    /* Nicolas */
    #about_magic_selected{
      display: none;
   } 
  #creators_selected{
       display: none;
  }   
  #about_selected{
      display: none;
  } 
  #buy1_selected{
      display: none;
  } 
  #custom_support_selected{
     display: none;
  }
  /* suppression soulignement et couleur lien web  */
  a{
      text-decoration: none;
      color:#000;
  }
    #photo_dessus{
      background-color: rgb(226, 250, 8);
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 0;
  }
   /* bouton rouge avec border radius */
  .foot_button{
       color: white;
       background-color: red;
       border-radius: 30px;
       height: 35px;
       width: 100px;
       border: 0;
   }
  /* test modal */
  .content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    }
    .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    }
    .modal-inner {
    margin-top: 30px;
    }row
    /*  fin du test */
    .area_of_interest{
     width: 25%;
     background-color: white;
     border-top: hidden;
     border-left: hidden;
     border-right: hidden;
    }
    .styleinput {
    width: 25%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;  
    }
    #formulaire{
          /* background-color: blueviolet; */
          /* width: 100%;
          display: flex; */
          flex-direction: column;
          /* align-items: flex-start;
          justify-content: flex-start; */
          padding-left: 0;
    }
    /* bouton rouge avec border radius */
    #footer_1{
      background-color: rgb(178, 197, 240); 
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: stretch;
      /* align-items: center; */
    }
  #about_magic{
       background-color: rgb(59, 235, 82);
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: space-around;
       padding-left: 0;
   } 
  #about{
       background-color: rgb(240, 128, 23);
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: space-around;
       padding-left: 0;
   } 
  #creators{
       /* background-color: rgb(255, 15, 203); */
      
       display: flex;
       align-items: flex-start;
       justify-content: space-around;
       padding-left: 0;
   }
  #buy1{
       /* background-color: rgb(11, 56, 182); */
       display: flex;
       align-items: flex-start;
       justify-content: space-around;
       padding-left: 0;
   } 
  #support{
       /* background-color:red; */
       flex-direction: column;
   }
  #reseau_sociaux{
       /* background-color: rgb(16, 20, 231); */
       display: flex;
       text-align: center;
       padding-left: 0;
   }
  
  #footer_haut{
       box-sizing: border-box;
       flex-direction: column;
       align-content: space-between;
       /* background-color: rgb(156, 31, 31); */
       height: 35px;
   }
  #hr{
       width: 680%;
       background-color: crimson;
       border: 0;
       height: 8px;
     }
     /*Footer  copyright */
  #footer_copyright{
       /* box-sizing: border-box; */
       text-align: center;
       /* background-color: rgb(112, 156, 31); */
       height: 35px;
   }
}
/* Classe contenues dans cette media query ne seront appliquées 
*  qu'a condition que la largeur de l'ecran soitplus grande que 1023px inclus
**/
@media screen and (min-width:1023px) {
  .dsk-0{display: none;}
  .dsk-1{width: 8.33%;}
  .dsk-2{width: 16.66%;}
  .dsk-3{width: 25%;}
  .dsk-4{width: 33.33%;}
  .dsk-5{width: 41.66%;}
  .dsk-6{width: 50%;}
  .dsk-7{width: 58.33%;}
  .dsk-8{width: 66.66%;}
  .dsk-9{width: 75%;}
  .dsk-10{width: 83.33%;}
  .dsk-11{width: 91.66%;}
  .dsk-12{width: 100%;}
  
                                                     /*Virginie*/
    
    
    
    
    
                                                /* code Nicolas */
/* SECTION 5 */
.sec_5-b{
  position: absolute;
  text-align: center;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button.sec_5-b{
  color: rgb(75, 75, 75);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height: 35px;
  width: 90px;
  border: 0;
}
.sec_5{
  position: relative;
  text-align: center;
  
  font-family: 'lomino-regular',sans-serif;
  z-index: -1;
  overflow: hidden;
}
.sec_5-h2{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  letter-spacing: 3px;
  font-size: 45px;
  font-family: 'lomino-regular',sans-serif;
 
}
 .sec_5-h3{
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  letter-spacing: 3.5px;
  font-family: 'lomino-regular',sans-serif;
} 
/* suppression soulignement et couleur lien web  */
a{
  text-decoration: none;
  color:black;
}
#photo_dessus{
  background-color: rgb(226, 250, 8);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0;
}
/* bouton rouge avec border radius */
.foot_button{
   color: white;
   background-color: red;
   border-radius: 30px;
   height: 35px;
   width: 100px;
   border: 0;
} 
/* test modal */
.content {
max-width: 800px;
margin: 0 auto;
margin-bottom: 30px;
padding: 30px;
background: #fff;
border: 1px solid #ddd;
border-radius: 15px;
}
.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
display: none;
}
.modal-inner {
margin-top: 30px;
}
/*  fin du test */
.area_of_interest{
 width: 25%;
 background-color: white;
 border-top: hidden;
 border-left: hidden;
 border-right: hidden;
}
.styleinput {
width: 25%;
border-top: hidden;
border-left: hidden;
border-right: hidden;  
}
#formulaire{
      /* background-color: blueviolet;  */
      /* width: 100%;
      display: flex; */
      flex-direction: column;
      /* align-items: flex-start;
      justify-content: flex-start; */
      padding-left: 0;
}
/* bouton rouge avec border radius */
#about_magic{
   background-color: white;
   width: 25%;
   height: 100px;
   display: flex;
   flex-direction: column;

} 
#about{
   background-color: white;
   width: 25%;
  height: 100px;
  display: flex;
  flex-direction: column;
} 
#creators{
   background-color: white;
   width: 25%; 
   height: 100px;
   display: flex;
   flex-direction: column;
} 
/* ajout du code pour le display:none     */
#about_magic_selected{
  display: none;
} 
#about_selected{
 display: none;
}    
#creators_selected{
  display: none;
} 
#buy1_selected{
display: none;
}
#custom_support_selected{
display: none;
}
/*   Fin du code pour display:none */
.footer2{
  background-color: red;
}
.footer3{
  background-color: rgba(21, 255, 0, 0.726);
}
/* .footer4{
background-color: white;
} */
#footer_1{
  background-color: white; 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  
}
/*  Barre de separation */
#hr_1{
   background-color: crimson;
   border: 0;
   height: 8px;
 }
/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
 #footer_2{
  background-color: white; 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  /* align-items: center; */
}
/*nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/


#galerie_photo{
  display: flex;
  flex-direction: row;
}
#buy1{
  background-color: white; 
  width: 25%; 
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
} 
#custom_support{
  background-color:white;
    display: flex;
    height: 25%;
    width: 100%;
    flex-direction: column;
}
#reseau_sociaux{
 background-color: white;
 /* width: 100%;
 flex-direction: column;*/
 text-align: center;
 /*margin-bottom: 15px;  */
} 
 /* opcatity logo reseau sociaux a finir !! */
.img_hov:hover{
  zoom: 1;
 filter: alpha(opacity=40);
 opacity: 0.4;
} 
.footer_haut1{
  background-color:white; 
  display: flex;
  flex-direction: row ;
  justify-content: left;
  justify-items: center;
  margin-right: 10px;
  margin: 15px;
}
.footer_haut2{
  background-color:white;
  display: flex;
  flex-direction: row ;
  justify-content: center;
  justify-items: center;
  margin: 15px;
}
/* Footer credit */
 .footer_haut0{
  background-color: rgba(233, 229, 229, 0.849); 
  display: flex;
  flex-direction: row ;
  justify-content: center;
  justify-items: center;
} 
 /*Footer copyright */
#footer_copyright{
   display:flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   background-color:rgba(233, 229, 229, 0.849);  
   height: 45px;  
}
/* background formulaire gris claire*/
.foot-background{
  background-color: rgba(233, 229, 229, 0.849);
}
}
/* @media screen and (max-width:400px){
#photo_dessus{
  display: none;
}
} */

