*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Virginie*/

.barre-de-nav{
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: flex-end;
    margin: 0;
    position: fixed;
    top: 0;
    border: 1px solid lightgrey;
    height: 48px;
 }
 
 .logo{
   width: 100%;
   display: flex;
   justify-content: flex-start;
   padding: 0 8px 0 24px;
 }
 
 .logo-header-nav{
    object-fit: contain;
 
 }
 
 nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    height: 100%;
     
 }
 
 .burger{
   display: none;
 }
 
 li{
    margin: 1rem 0.5rem;
    padding: 10px;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.8)
 }
  #buy{
   display: flex;
   justify-content: center;
   color: white;
   background-color:red;
   font-size: 16px;
   border-radius: 30px;
   height: 2rem;
   width: 6rem;
   border: 0;
   padding: 5px;
 }  
 
 #baniere-video{
   position: relative;
   right: 0; bottom: 0;
   min-width: 100%; min-height: 100%;
   width: auto; height: auto; z-index: -100;
   background-size: cover;
   object-fit: cover;
 }
 
 .baniere{
   position: absolute;
   top:0;
   left:0;
   z-index: 100;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-self: center;
   justify-content: center;
   align-items: center;
   margin: 0;
   width: 100%;
   height: 100%;
 }
 
 video{
   perspective: 100px;
   z-index: 0;
 }

 .video-mobile{
     display: none;
 }
 
 .next-era{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    font-size: 3.5rem;
    height: 200px;
    width: 500px;
    line-height: 60px;
    justify-items: center;
 }
 h1{
     justify-items: center;
     z-index: 1;
     color: white;
     font-weight: 900;
     font-size: 20%;
     margin:0;
 }
 
 .subheading-video{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 22px;
    z-index: 1;
    color: white;
    width: 600px;
    color: lightgrey;
    margin-bottom: 30px;
 }
 
 .button{
   display: flex;
   align-items: center;
    color: white;
    background-color:white;
    border-radius: 30px;
    height: 3rem;
    width: 15rem;
    border: 0;
    padding: 5px;
    margin: 7px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20%;
 }
 
 #bouton-video{
   font-size: 16px;
   display: flex;
   justify-content: center;
   font-weight: bolder
 }
 
 
 .num{
   display: flex;
   justify-content: center;
   border: 2px solid lightgrey;
   background-color: transparent;
   color: white;
 }
 
 #lecture{
   height: 100%;
   width: auto;
   opacity: 0,2;
   margin-left: 0;
   margin-right: 20px;
   font-size: 35px;
 
 }
 .en-ligne{
    display: flex;
    flex-direction: row;
    z-index: 1;
    text-decoration: none;
 }
  
 #scroll_down{ 
     z-index: 1;  
    color: white;
 }
 
 #chevron-bas{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: space-around
 }
 
 #chevron{
   height: 40%; 
   width: 5%;
 }
 

/* Classe contenues dans cette media query ne seront appliquées 
*  qu'a condition que la largeur de l'ecran ne depasse pas 500px
**/
.row{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
}
@media screen and (max-width:500px){
  .mob-0{display: none;}
  .mob-1{width: 8.33%;}
  .mob-2{width: 16.66%;}
  .mob-3{width: 25%;}
  .mob-4{width: 33.33%;}
  .mob-5{width: 41.66%;}
  .mob-6{width: 50%;}
  .mob-7{width: 58.33%;}
  .mob-8{width: 66.66%;}
  .mob-9{width: 75%;}
  .mob-10{width: 83.33%;}
  .mob-11{width: 91.66%;}
  .mob-12{width: 100%;}

  /*Virginie*/


  nav ul{
    display: none;
  }
  
  .burger{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70%;
    width: auto;
    padding-top: 10px;
  }

  .video{
      display: none;
  }

  .video-mobile{
      display: block
  }

  .en-ligne{
    flex-direction: column;
   
  }
  .button{
    margin:4px;
    height: 2rem;
    width: 10rem; 
    margin-bottom: 5px;
  }

  .next-era{
    font-size: 30px;
    width: 275px;
    line-height: 30px;
    padding-top: 100px;
  }
  
  #baniere-video{
    padding-top: 55px;
  }

  .subheading-video{
    width: 500px;
    font-size: 17px;
  }

}
/* Classe contenues dans cette media query ne seront appliquées 
*  qu'a condition que la largeur de l'ecran soit comprise entre 501px et 1023px inclus
**/
 @media screen and (min-width:501px) and (max-width:1023px){
    .tab-0{display: none;}
    .tab-1{width: 8.33%;}
    .tab-2{width: 16.66%;}
    .tab-3{width: 25%;}
    .tab-4{width: 33.33%;}
    .tab-5{width: 41.66%;}
    .tab-6{width: 50%;}
    .tab-7{width: 58.33%;}
    .tab-8{width: 66.66%;}
    .tab-9{width: 75%;}
    .tab-10{width: 83.33%;}
    .tab-11{width: 91.66%;}
    .tab-12{width: 100%;}


    /*Virginie*/
    .subheading-video{
        width: 500px;
        font-size: 17px;
      }
}
/* Classe contenues dans cette media query ne seront appliquées 
*  qu'a condition que la largeur de l'ecran soitplus grande que 1023px inclus
**/
@media screen and (min-width:1023px) {
  .dsk-0{display: none;}
  .dsk-1{width: 8.33%;}
  .dsk-2{width: 16.66%;}
  .dsk-3{width: 25%;}
  .dsk-4{width: 33.33%;}
  .dsk-5{width: 41.66%;}
  .dsk-6{width: 50%;}
  .dsk-7{width: 58.33%;}
  .dsk-8{width: 66.66%;}
  .dsk-9{width: 75%;}
  .dsk-10{width: 83.33%;}
  .dsk-11{width: 91.66%;}
  .dsk-12{width: 100%;}
  
  /*Virginie*/

}